body{
    font-family: 'Montserrat', sans-serif;
    font-size:20px;

    background-position-x: -150px;
}
#banner{
    background-color: black;

}
#banner a{
    text-decoration: none;

}
#logo{
    width: 11em;
    padding-left: 50px;
}
.item {
    color: white;
    margin-left: 250px;
    font-size: 30px;
}
.icon{
    color: white;
    float: right;
    padding-right: 50px;
    margin-top: 10px;
    font-size: 30px;
}
#warpper{
    display:flex;
    position: absolute;
    width: 517px;
    height: 300px;
    left: 500px;
    top: 150px;
}
#form-money{
    max-width: 500px;
    height: 450px;
    background: rgba(97, 94, 94, 0.8);
    flex-grow: 1;

    box-shadow:0px 0px 20px 5px rgba(69, 66, 66, 0.8);
}
h1{
    display:flex;
    justify-content: center;
    text-align: center;
    color:rgb(163, 157, 157);
}
.form-giohang{
    color: #d0cbcb;
    display: flex;
    flex-direction: column;
}
.form-giohang1{
    color: white;
    display:flex;
    flex-direction: column;
}
#ghichu{
    width:500px;
    height:60px;
}
#name,#number,#adress,#ghichu{
    color: black;
}
.button-input{
    display: flex;
    justify-content:center;
}
.form-submit1{
    color:rgb(250, 247, 247);
    background: transparent;
    background: #17a2b8;
    border:1px solid #17a2b8;
    border-radius: 7px;
    width: 40%;
    align-items: center;
    padding:6px 0px;
    transition:0.15s ease-in-out;
    margin-top:15px;
    margin-right:3px;

}
.form-submit2{
    color:#fff;
    background: transparent;
    background-color: #7aca9c;
    border:1px solid #7aca9c;
    border-radius: 7px;
    width: 60%;
    padding:6px 0px;
    transition:0.15s ease-in-out;
    margin-top:2px;
    margin-right:3px;

}
.form-submit1:hover {
    background-color: #2970e2;
    border:1px solid #2970e2;
}
.form-submit2:hover {
    background-color: #30b21f;
    border:1px solid #30b21f;
}
.text{
    color: white;
}
